body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: #212121;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .section-title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.167;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

@media screen and (min-width: 768px) {
  .header__container {
    min-height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: flex-start;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-svg {
  fill: currentColor;
}

.logo {
  color: black;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__primary {
  color: #2196f3;
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.167;
  }
}

.nav {
  display: flex;
  list-style: none;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

.nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  position: relative;
  color: #2196f3;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 1px;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item {
  position: relative;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

.header__media {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .header__media {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__media {
    position: absolute;
    top: 32px;
    right: 15px;
    flex-direction: row;
  }
}

.header__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .header__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

.header__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header__link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.header__icon {
  margin-right: 8px;
  fill: currentColor;
}

.hero {
  max-width: 480px;
  height: 400px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//..//images/mobile/hero_1x-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("..//..//images/mobile/hero_2x-min.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//..//images/tablet/hero_tablet_1x-min.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("..//..//images/tablet/hero_tablet_2x-min.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//..//images/hero.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("..//..//images/hero2x.jpg");
  }
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  color: white;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero__button {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  padding: 10px 32px;
  border: 0px;
  margin: auto;
}

.features {
  list-style: none;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .features {
    display: flex;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__item {
  max-width: 100%;
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.features__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}

.features__title {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__title {
    text-align: left;
  }
}

.features__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.features__icon {
  display: block;
}

.section-speciality {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section-speciality {
    display: none;
  }
}

.speciality {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

.speciality__item:not(:last-child) {
  margin-right: 30px;
}

.doings-branch {
  position: relative;
}

.doings-branch__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.doings-branch__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
  border: none;
}

.section--team {
  background-color: #f5f4fa;
}

.team {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.team__list:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__list:not(:last-child) {
    margin-bottom: 0;
  }
}

.team__list {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}

.team__info {
  margin-top: 30px;
  margin-bottom: 16px;
}

.team__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__member {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
}

.team__position {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__list {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .team__image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: flex;
  }
  .team__list {
    width: 270px;
  }
  .team__list:not(:last-child) {
    margin-right: 30px;
  }
}

.member-socials {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.member-socials__item:not(:last-child) {
  margin-right: 10px;
}

.member-social__button {
  width: 44px;
  height: 44px;
  border: none;
  padding: 0;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social__button--fill {
  fill: currentColor;
}

.member-social__button:hover, .member-social__button:focus {
  background-color: #2196f3;
  color: white;
}

.clients-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.clients-icons__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients-icons__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-icons__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients-icons__button {
  width: 100%;
  height: 92px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.clients-icons__button--fill {
  fill: currentColor;
}

.clients-icons__button:hover, .clients-icons__button:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
  }
  .address-info {
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  color: white;
  margin: 0 0 20px 0;
  padding: 0;
}

.address {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
  }
}

.address__item {
  margin: 0;
}

.address__media {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .address-social {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .social {
    margin-bottom: 60px;
  }
}

.social-invite {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}

.footer .member-social__button {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .member-social__button--fill {
  color: white;
}

.footer .member-social__button:hover, .footer .member-social__button:focus {
  background-color: #2196f3;
}

.submit-invite {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}

.form-submit__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 16px;
  font: inherit;
  width: 100%;
  height: 50px;
  background-color: inherit;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .form-submit__input {
    width: 450px;
    margin-bottom: 20px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .form-submit__input {
    width: 358px;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .form-submit {
    display: flex;
  }
}

.form-submit__button {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  border: 0px;
  margin: auto;
  width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit__icon {
  margin-left: 12px;
}

.form-submit::placeholder {
  position: absolute;
  bottom: 15px;
  left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.menu-container {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-nav {
  list-style: none;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: #2196f3;
}

.menu-nav__link--current {
  color: #2196f3;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-media {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 64px;
}

.menu-media__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-media__link:hover, .menu-media__link:focus {
  color: #2196f3;
}

.menu-media__phone {
  color: #2196f3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-media__mail {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.close-button:hover, .close-button:focus {
  color: #2196f3;
}

.menu-social {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0;
}

.menu-social__link {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu-social__item:nth-last-child(-n + 3) {
  padding-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.modal {
  position: relative;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  width: 450px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
  }
}

.form__title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  font: inherit;
  width: 100%;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  border-color: #2196f3;
}

.form__field:focus-within > .form__icon {
  fill: #2196f3;
}

.form__field.comment {
  margin-bottom: 20px;
}

.form__area {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 120px;
}

.form__area::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox:checked + .checkbox__icon {
  background-color: #2196f3;
  background-image: url(../images/svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: none;
}

.policy {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.167;
}

@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.policy-link .link {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.submit {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  padding: 10px 55px 10px 56px;
  border: 0px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover,
.submit:focus {
  background-color: #188ce8;
}

.modal__button {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0px;
  background-color: #ffffff;
  cursor: pointer;
}

.button-close {
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  fill: #2196f3;
}

textarea {
  resize: none;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: -15px;
  margin-bottom: 40px;
}

@media screen and (min-width: 480px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}

.filter__item {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border: 0px;
  margin: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button--current {
  color: white;
  background-color: #2196f3;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border: 0px;
  margin: auto;
}

.filter__button:hover, .filter__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: white;
}

.works {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.works__list {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  margin-left: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__list:hover, .works__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .works__list {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .works__list {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.works-link {
  text-decoration: none;
}

.works-link:hover, .works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-thumb {
  position: relative;
  overflow: hidden;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
  position: absolute;
  width: 322px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: white;
}

.works__list:hover .work-overlay,
.works__list:focus .work-overlay {
  transform: translateY(0);
}

.work-thumb__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.work {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.work__name {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.work__filter {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */