body {
  background-color: $primary-bg-color;
  color: $text-color;
  font-family: Roboto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
