.features {
  display: flex;
  list-style: none;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;

  &__item {
    width: 270px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__icon {
    text-align: center;
    background-color: #f5f4fa;
    padding: 25px 100px;
    margin-bottom: 30px;
  }

  &__title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  &__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin: 0;
  }
}
