.page-header {
  &__media {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;

    @media (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      position: absolute;
      top: 32px;
      right: 15px;
      flex-direction: row;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.143;
    }
  }

  &__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}
