.hero {
  max-width: 480px;
  height: 400px;
  background-color: $secondary-bg-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("..//..//images/mobile-menu/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .box {
      background-image: url("..//..//images/mobile-menu/Header-img@2x.jpg");
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("..//..//images/tablet/HeaderTablet.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .box {
        background-image: url("..//..//images/tablet/Headertablet@2x.jpg");
      }
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("..//..//images/img9.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .box {
        background-image: url("..//..//images/img9.jpg");
      }
    }
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    color: $white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.364;
    }
  }

  &__button {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;
    cursor: pointer;
    padding: 10px 32px;
    border: 0px;
    margin: auto;
  }
}
