.menu-container {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: $primary-bg-color;
  // z-index: 999;

  transform: translateX(100%);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-nav {
  list-style: none;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;

  &__link {
    color: #212121;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link--current {
    color: $accent-color;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__item:last-child {
    margin-bottom: 302px;
  }
}

.menu-media {
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 64px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__phone {
    color: $accent-color;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  &__mail {
    color: $text-color;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-social {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0;

  &__link {
    color: $accent-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  &__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }

  &__item:nth-last-child(-n + 3) {
    padding-left: 10px;
  }
}
