.logo {
  color: rgba(0, 0, 0, 1);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__primary {
    color: rgba(33, 150, 243, 1);
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
