.filter {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: -15px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  &__item {
    margin-top: 15px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  color: $title-text-color;
  background-color: $button-background;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border: 0px;
  margin: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    color: $white-color;
    background-color: $accent-color;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
    cursor: pointer;
    padding: 6px 22px;
    border: 0px;
    margin: auto;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: $accent-color;
    color: $white-color;
  }
}
