.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: $title-text-color;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.167;
  }
}
