:root {
  --main-text-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --white-color-shadow: rgba(255, 255, 255, 0.6);
  --bg-icon-footer: rgba(255, 255, 255, 0.1);
  --grey-color: #757575;
  --background-color: #2f303a;
  --background-button: #f5f4fa;
  --black-color: #000000;
  --social-icons: #afb1b8;
  --works-text-bg: rgba(33, 150, 243, 0.9);
  --main-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway', sans-serif;
  --border-color-form: rgba(33, 33, 33, 0.2);
  /* animation */
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}